@import '/src/styles/variables.scss';

.button {
  width: 100% !important;
  border-radius: $border-radius !important;

  &_outline {
    @extend .button;
    background: transparent !important;
    border: 1px solid $text-color !important;

    &:hover {
      color: $background !important;
      background: $text-color !important;
    }
  }
}
