@import '/src/styles/variables.scss';

.input {
  width: 100%;
  color: $text-color !important;
  border-radius: $border-radius !important;
  background: rgba($text-color, 0.1) !important;
  border: 1px solid $light-background !important;

  &:hover {
    border: 1px solid $light-background !important;
  }
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $light-background !important;
  }

  &::placeholder {
    color: rgba($text-color, 0.3) !important;
  }
}
