@import '/src/styles/variables.scss';
@import '/src/styles/ui/buttons.module.scss';

.sidebar {
  top: 1rem;
  height: 96vh;
  max-width: 90px;
  overflow: hidden;
  position: fixed;
  padding: 1rem 5px;
  transition: max-width 0.3s;
  background: $light-background;
  border-radius: 0 $border-radius $border-radius 0;

  &:hover {
    max-width: 230px;

    .header {
      .title {
        width: 100% !important;
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
      width: 100%;
      max-width: 75px;
    }
    .title {
      margin: 0;
      font-size: 24px;
      overflow: hidden;
      text-align: center;
      width: 0 !important;
      white-space: nowrap;
      transition: width 0.3s;
    }
  }

  .button_outline {
    margin: 10px 0;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;

    .icon {
      margin: 0 0.8rem;
    }

    .text {
      font-size: 18px;
      margin-left: 0.5rem;
    }
  }
}
